################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/sistema_academico/.vs/sistema_academico/FileContentIndex/a85ec4e9-66f0-4abd-a735-038468183731.vsidx
