################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/sistema_academico/.vs/sistema_academico/FileContentIndex
/Proyecto_final/Web Red de Esperanza/.vs/Web Red de Esperanza/FileContentIndex/30adcee2-84eb-40c3-885c-4774f87b18ac.vsidx
/Proyecto_final/Web Red de Esperanza/.vs/Web Red de Esperanza/FileContentIndex/8ca316fc-4136-4991-a3e6-cddf4e74590c.vsidx
/Proyecto_final/Web Red de Esperanza/.vs/Web Red de Esperanza/FileContentIndex/e5fde5bf-97eb-47d5-b680-5b376030a38b.vsidx
/Proyecto_final/Web Red de Esperanza/.vs/Web Red de Esperanza/FileContentIndex/2c76f65f-c254-4548-aff8-80ec2e28fa78.vsidx
/Proyecto_final/Web Red de Esperanza/.vs/Web Red de Esperanza/FileContentIndex/599be051-6c44-47f0-a5c4-ac9be29a046f.vsidx
